@model Day4RestaurantApp.Models.Restaurant
<h2>@Model.Name</h2>
<form action="/Home/Details/@Model.Id" method="post">
<input type="text" name="comment" placeholder="Comment"/>
<input type="submit" />
</form>
<img src=@Model.Image style="height: 300px;">
<p>Cuisine: @Model.Cuisine</p>
<p>Rating: @Model.Rating</p>
@foreach (var Comment in Model.Comments)
{
    <p> @Comment.Comment </p>
}
